<section class="panel panel-default  result-section">
	<header class="panel-heading">
		<h2>Résultats Statistiques balises</h2>
	</header>
	<div class="panel-body">
		
		{% for documentName, result in results %}

			<div class="panel result-item {{ result.common_semantics is empty or result.headings is empty ? 'panel-danger' : 'panel-success'  }}">
				<div class="panel-heading" data-toggle="collapse" data-target="#tag-usage-{{loop.index}}">
					{{documentName}}
				</div>
				<div id="tag-usage-{{loop.index}}" class="panel-body collapse">
								
					{% if result.common_semantics is empty %}
						<div><span class="label label-warning">Aucune balise sémantique/structurelle</span></div>
					{% endif %}

					{% if result.headings is empty %}
						<div><span class="label label-warning">Aucune balise d'en-tête</span></div>
					{% endif %}

					<table class="table table-condensed table-striped">
						{% for tagName, count in result.stats %}
							<tr><td>{{tagName}}</td><td>{{count}}</td></tr>
						{% endfor %}
					</table>
				</div> <!-- .panel-body -->
			</div><!-- .result-item -->	

		{% endfor %}
	</div> <!-- .bd -->
</section>



