<section class="panel panel-default  result-section">
	<header class="panel-heading">
		<h2>Résultats validation Tidy</h2>
	</header>
	<div class="panel-body">
		{% for documentName, result in results %}

			<div class="panel {{ result.status == 0 ? 'panel-success' : result.status == 2 ? 'panel-warning' : 'panel-info' }} result-item">
				<div class="panel-heading" data-toggle="collapse" data-target="#tidy-{{loop.index}}">
					{{documentName}}
				</div>
				<div id="tidy-{{loop.index}}" class="panel-body collapse">
					
					 {% if result.errors %}
					 	<h4>Messages</h4>
					 	<ul>
					 	{% for error in result.errors %}
							<li><em>{{error|escape}}</em></li>
					 	{% endfor %}
					 	</ul>
					{% endif %}

				</div> <!-- .panel-body -->
			</div><!-- .result-item -->	

		{% endfor %}

	</div> <!-- .panel-body -->
</section>