<section class="panel panel-default section-result">
	<div class="panel-heading">
		<h2>Résultats validation HTML</h2>
	</div>
	<div class="panel-body">
		
		{% for documentName, result in results %}
			
			<div class="panel {{ result.status == "Valid" ? 'panel-success' : 'panel-danger' }} result-item">
				<div class="panel-heading" {{ result.status == 'Valid' ? '' : 'data-toggle="collapse"'}} data-target="#w3c-{{loop.index}}">
					
					<span>{{ documentName }}</span>

					{% if result.status == "Valid" %}
						<span class="label label-info pull-right">
							Encodage détecté : {{result.encoding}}
						</span>
						<span class="label label-success pull-right">Valide</span>
					
					{% else %}

						{% if result['warnings'] %}
							<span class="label label-warning pull-right">{{result.warnings}}</span>
						{% endif %}

						<span class="label label-danger pull-right">{{result.errors}} </span>
						
					{% endif %}

				</div> <!-- panel-heading -->

				{% if result.status != "Valid"  %}

					<div id="w3c-{{loop.index}}" class="panel-body collapse">

							<h3>Messages : </h3>
							{% if result.messages %}
								{% for data in result.messages %}

									<p class="well"><em>{{data.message}}</em></p>

								{% endfor %}
							{% endif %}

					</div><!-- .panel-body -->

				{% endif %}

			</div> <!-- .result-item -->

		{% endfor %}
</section>